<div class="list">
  <div ng-repeat="item in items" ng-init="item.completed = false">

    <div ng-hide='moving' class='text-center' ng-mouseenter='addButtonContainer.mouseover = true' ng-mouseleave='addButtonContainer.mouseover = false'>
      <span ng-class='{"visibility-visible": addButtonContainer.mouseover}' ng-click="addItem($index)" class="add-item-button glyphicon glyphicon-plus" aria-hidden="true"></span>
    </div>
    <div class='text-center'>
      <span ng-show='moving' class="glyphicon glyphicon-record" aria-hidden="true" ng-click='moveTo($index)'></span>
    </div>

    <div class='bg-info item-container' ng-mouseenter='mouseover = true' ng-mouseleave='mouseover = false'>

      <div class='buttons-container'>
        <button class='dangerous-button btn btn-danger btn-xs' type='button' ng-show='mouseover && !item.editing' ng-click="deleteItem(item, $index)">Delete</button>
        <button class='safe-button btn btn-success btn-xs' type='button' ng-show='mouseover && !item.completed && !item.editing' ng-click='item.completed = true'>Done</button>
        <button class='safe-button btn btn-default btn-xs' type='button' ng-show='mouseover && item.completed && !item.editing' ng-click='item.completed = false'>Undone</button>
        <button class='safe-button btn btn-default btn-xs' type='button' ng-show='mouseover && !item.editing' ng-click='showTargets($index)'>Move</button>
        <button class='safe-button btn btn-default btn-xs' type='button' ng-show='mouseover && !item.editing' ng-click='item.editing = true'>Edit</button>
      </div>

      <div ng-hide='item.editing' class='item-label' ng-class="{'text-muted': item.completed, 'item-completed': item.completed}">{{item.name}}</div>
      <input focus-if='item.editing' ng-blur='item.editing = false' ng-keydown='handleKeyDown($event, $index)' class='item-editor small' ng-show='item.editing' ng-type='text' value='{{item.name}}' />

    </div>
  </div>
  <div ng-hide='moving' class='text-center' ng-mouseenter='addButtonContainerLast.mouseover = true' ng-mouseleave='addButtonContainerLast.mouseover = false'>
    <span ng-class='{"visibility-visible": addButtonContainerLast.mouseover}' ng-click="addItem($index)" class="add-item-button glyphicon glyphicon-plus" aria-hidden="true"></span>
  </div>
  <div class='text-center'>
    <span ng-show='moving' class="glyphicon glyphicon-record" aria-hidden="true" ng-click='moveTo($index)'></span>
  </div>
</div>