<div class="list">
  <div ng-repeat="todo in todos" ng-init="todo.completed = false">
    <div class='text-center'>
      <button class='btn btn-default btn-xs' type='button' ng-click="addTodo($index)">+</button>
    </div>
    <p class='bg-info item2' ng-mouseenter='mouseover = true' ng-mouseleave='mouseover = false'>
      <button class='float-right valign btn btn-danger btn-xs' type='button' ng-class='{hidden: !mouseover}' ng-click="deleteTodo(todo, $index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      <input class='valign' ng-model="todo.completed" type="checkbox" id='checkbox1' />
      <label class='item-text' for='checkbox1' ng-class="{'completed': todo.completed}">{{todo.name}}</label>
    </p>
  </div>
  <div class='text-center'>
    <button class='btn btn-default btn-xs' type='button' ng-click="addTodo($index)">+</button>
  </div>
</div>