<div ng-repeat="item in items" ng-init="item.completed = false">

  <!-- Add button container and move target-->
  <div ng-hide='moving' class='text-center' ng-mouseenter='addButtonContainer.mouseover = true' ng-mouseleave='addButtonContainer.mouseover = false'>
    <span data-tag-test-id="{{'add-item-button-' + $index}}" ng-class='{"visibility-visible": addButtonContainer.mouseover}' ng-click="addItem($index)" class="add-item-button glyphicon glyphicon-plus" aria-hidden="true"></span>
  </div>
  <div class='text-center'>
    <span data-tag-test-id="{{'move-target-' + $index}}" ng-show='moving' class="glyphicon glyphicon-record" aria-hidden="true" ng-click='moveTo($index)'></span>
  </div>

  <!-- Item container -->
  <div data-tag-test-id="{{'item-container-' + $index}}" class='item-container' ng-mouseenter='mouseover = true' ng-mouseleave='mouseover = false' ng-class='{"bg-info": !item.moving, "bg-primary": item.moving}'>

    <!-- Set float = right on each button. If instead we put the buttons in a container and set float = right on the container, then when the mouse moves off of an item, the item label still shows ellipsis. -->
    <button class='delete-item-button float-right dangerous-button btn btn-danger btn-xs' type='button' ng-show='mouseover && !item.editing' ng-click="deleteItem(item, $index)">Delete</button>
    <button class='float-right safe-button btn btn-success btn-xs' type='button' ng-show='mouseover && !item.completed && !item.editing' ng-click='markDone($index)'>Done</button>
    <button class='float-right safe-button btn btn-default btn-xs' type='button' ng-show='mouseover && item.completed && !item.editing' ng-click='markUndone($index)'>Undone</button>
    <button data-tag-test-id="{{'move-item-button-' + $index}}" class='float-right safe-button btn btn-default btn-xs' type='button' ng-show='mouseover && !item.editing' ng-click='showTargets($index)'>Move</button>
    <button class='edit-item-button float-right safe-button btn btn-default btn-xs' type='button' ng-show='mouseover && !item.editing' ng-click='item.editing = true'>Edit</button>

    <div data-tag-test-id="{{'item-label-' + $index}}" ng-hide='item.editing' class='item-label' ng-class="{'text-muted': item.completed, 'item-completed': item.completed}">{{item.name}}</div>
    <input focus-if='item.editing' ng-blur='item.editing = false' ng-keydown='handleKeyDown($event, $index)' class='item-editor small' ng-show='item.editing' ng-type='text' value='{{item.name}}' />

  </div>
</div>

<!-- Add button container and move target-->
<div ng-hide='moving' class='text-center' ng-mouseenter='addButtonContainerLast.mouseover = true' ng-mouseleave='addButtonContainerLast.mouseover = false'>
  <span data-tag-test-id='last-add-item-button' ng-class='{"visibility-visible": addButtonContainerLast.mouseover}' ng-click="addItem()" class="add-item-button glyphicon glyphicon-plus" aria-hidden="true"></span>
</div>
<div class='text-center'>
  <span data-tag-test-id="last-move-target" ng-show='moving' class="glyphicon glyphicon-record" aria-hidden="true" ng-click='moveTo()'></span>
</div>
