.completed {
  color: #a7b9c4;
  text-decoration: line-through;
}

todos {
  margin-top: 3em;
}

.item2 {
  padding: 0.75em 1em;
}

.valign {
  vertical-align: top;
}

.float-right {
  float: right;
}