.line-through {
  text-decoration: line-through;
}

.addArea {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.safeButton {
  margin-left: 0.5em;
}

.dangerButton {
  margin-left: 2em;
}

todos {
  margin-top: 3em;
}

.item2 {
  padding: 0.5em 0.5em;
}

.valign {
  vertical-align: top;
}

.float-right {
  float: right;
}

.hidden {
  visibility: hidden;
}

.glyphicon-plus-sign {
  color: green;
}

.add-button-placeholder {
  height: 1em;
}

.add-button-placeholder:hover {
  height: 2em;
}