.item-editor {
  width: 100%;
}

.item-completed {
  text-decoration: line-through;
}

.item-label {
  margin-left: 0.5em;
  /* BEGIN: When the text is too long, show ellipsis. */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* END: When the text is too long, show ellipsis. */
}

todos {
  margin-top: 3em;
}

.item-container {
  padding: 0.5em 0.5em;
  position: relative;
  height: 2.5em;
}

.add-area {
  visibility: hidden;
  /* When the user clicks the area, don't outline it. */
  outline: none;
}

.visible {
  visibility: visible;
}

.item-button {
  float: right;
}

.safe-button {
  margin-left: 0.5em;
}

.dangerous-button {
  /* Use a large margin to discourage accidental clicks. */
  margin-left: 2em;
  float: right;
}